.task-box{
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	label{
		padding: 12px 12px 12px 0;
		display: inline-block;
	}
	input{
	
		width: 50%;
		padding: 8px 8px 8px 8px;
		display: inline-block;
		border-radius: 5px;
		margin-bottom: 10px;
		outline: none;
	}
	input[type=submit]{
		background-color: #5acda0;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor:pointer;
		width: 25%;
	}
}
#submit{
	height: 40px;
}
#image{
	margin-top: 20px;
}
h1{
	padding-left: 25px;
}
table,tr,td{
	background-color: #f2f2f2;
	border: 2px solid #868383;
	border-collapse: collapse;
	border-radius: 5px;
	
}
tr,td{
	padding: 8px;
	text-align: left;
}
h2{
	text-align: center;
}
.task3{
	padding-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}
/*------------------------------------------------------------------------------------*/
.detail{
	float: left;
	padding: 30px 0px 0px 50px;
	/*font-weight: 700;*/
	font-size: 30px;
	font-style: italic;
}
.image_bg{
	height:300px;
	width: 100%;
	background-image: url("/images/light1.jpg");
}
.image{
	margin: 170px 20px 20px 35px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	float: left;
	border-radius: 5px;
    padding: 5px;
    width: 260px;
   
    overflow: hidden;
	
	img{
	width: 100%;
	height: auto;
	&:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
}}
/*.image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
&:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
}*/
body{
	background-color: #d6f6d1
}
.marksheet{
	margin-top: 20%!important;
	margin-left: 3%;
	margin-right: 3%;
}
.abc{
	margin-bottom: 5%;
	font-size: 80px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 2px;
}