/* line 1, ../sass/task1.scss */
textarea {
  outline: none;
}

/* line 5, ../sass/task1.scss */
.task-box {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

/* line 16, ../sass/task1.scss */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* line 21, ../sass/task1.scss */
input {
  width: 50%;
  padding: 8px 8px 8px 8px;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}
/* line 28, ../sass/task1.scss */
input[type=submit] {
  background-color: #5acda0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

/* line 39, ../sass/task1.scss */
#submit {
  margin-top: 20px;
  height: 40px;
}

/* line 44, ../sass/task1.scss */
h1 {
  padding-left: 25px;
}

/* line 48, ../sass/task1.scss */
table,
tr,
td {
  background-color: #f2f2f2;
  border: 2px solid #868383;
  border-collapse: collapse;
  border-radius: 5px;
}

/* line 57, ../sass/task1.scss */
tr,
td {
  padding: 8px;
  text-align: center;
}

/* line 63, ../sass/task1.scss */
h2 {
  text-align: center;
}

/* line 67, ../sass/task1.scss */
.task3 {
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

/*------------------------------------------------------------------------------------*/
/* line 75, ../sass/task1.scss */
.detail {
  float: left;
  padding: 30px 0px 0px 50px;
  font-size: 30px;
  font-style: italic;
}

/* line 82, ../sass/task1.scss */
.name,
.mob,
.email {
  padding-bottom: 10px;
}

/* line 88, ../sass/task1.scss */
.image_bg {
  height: 300px;
  width: 100%;
  background-image: url("/images/light1.jpg");
}

/* line 94, ../sass/task1.scss */
.image {
  margin: 170px 20px 20px 35px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  float: left;
  border-radius: 5px;
  padding: 5px;
  width: 260px;
  overflow: hidden;
}

/* line 105, ../sass/task1.scss */
img {
  width: 100%;
  height: auto;
}
/* line 108, ../sass/task1.scss */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* line 113, ../sass/task1.scss */
body {
  background-color: #d6f6d1;
}

/* line 117, ../sass/task1.scss */
.marksheet {
  margin-top: 20% !important;
  margin-left: 3%;
  margin-right: 3%;
}

/* line 123, ../sass/task1.scss */
.abc {
  margin-bottom: 5%;
  font-size: 80px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
}
